/*design contact form*/
body{
	background-color: #0b0c10;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 50px;
  border-radius: 10px
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #c5c6c7;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #66fcf1;
	color: #0b0c10;
}
ul li.active a{
	background-color: #66fcf1;
	color: #0b0c10;
}
.img{
	border-radius: 10px;
}
.logo{
	float: left;
	width: 70px;
	height: 70px;
}

.fb{
	width: 70px;
	height: 70px;

}
.gmail, .ig{
	width: 50px;
	height: 50px;
}
h1, h2, h3{
	color: #66fcf1;
}
.contact1{
	color: #c5c6c7;
}
.menulogo, .dropbtn{
	display: none;
}
footer{
	text-align: center;
	color: #66fcf1;
	background-color: #1f2833;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 15px;
	padding: 13px 0px 0px 0px;

}
.input, .textarea, .button{
	color: #c5c6c7;

}
label{
	color: #c5c6c7;
}
.text{
	color: #c5c6c7;
}
.contact-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 60%;
	margin-top: 100px;
 	margin-bottom: 100px;
	margin-right: 250px;
	margin-left: 250px;

}
.contact-form{
	background-color: #1f2833;
}
h1{
	text-align: center;
}
.container{
	border-radius: 5px;
	background-color: #1f2833;
	padding: 20px;
}	
.button{
	color: #66fcf1;
	text-decoration: none;
	transition: 0.6s ease
}
.button:hover{
	background-color: #66fcf1;
	color: #0b0c10;
}
.text{
	color: #0b0c10;
}
.form{
	border-color: #66fcf1;
}

.textarea{
	color: #0b0c10;
}
.input{
	border-radius: 10px #45a29e;
}
/*Responsive*/
@media screen and  (max-width: 768px){   

	.menu{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	div nav ul li{
		display: block;
		background-color: #1f2833;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	li{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.text{
		color: #66fcf1;
		font-size: 13px;
	}
	.logo{
		float: left;
		width: 25px;
		height: 25px;
	}
	.menulogo{
		display: block;
		float: right;
		width: 45px;
		height: 45px;
		background-color: #66fcf1;

	}
	#menulist{
		overflow: hidden;
		transition: 0.5;
	}
	.img{
		width: 150px;
		height: 150px;
	}
	h2{
		font-size: 15px;
		color: #c5c6c7;
	}
	.contact-form, .contact1, .container{
		display: block;
		width: 85%;
		margin: 0 auto;
		text-align: center;
		position: center;
	}
	footer{
		text-align: center;
		color: #c5c6c7;
		position: fixed;
	}
	
	
}

